<h1><%= @flat.name %></h1>
<h5><em><%= @flat.description %></em></h5>
<p><%= @flat.address %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.number_of_guests %></p>

<p><%= link_to "See all flats", flats_path %></p>
